<% provide(:title, 'About Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>History of the Founders | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
    <p>
	 Stayhappi was founded in 2014 and based in Coimbatore, Tamilnadu. Stayhappi is a common online platform for people to host and find unique accommodations around the world.<br>

	 	Stayhappi’s vision is to become the leading online portal which is an integral part of every traveler in the world. We, Indians are one of the largest consumer markets in the world that every foreign company is feasting on. With all your support, we need to make Stayhappi the organization from India that has a worldwide customer base.<br>

	 Founding Members:<br>

	 Gautam Malaiappan<br>
	 Co-Founder & CEO<br>

	 Gautam is the co-founder & CEO at Stayhappi.  He was an aspiring entrepreneur till sometime back, till he started Stayhappi with Sreeram. He drives the company’s vision and is also responsible for Sales & Marketing. Gautam and Sreeram coined the idea for Stayhappi over a coffee meet at Bangalore.  Gautam has a deep belief that Indians have the entrepreneurial gut and wants India to rise to its fullest potential.<br>

	 Sreeram CK<br>
	 Co-Founder & CTO<br>

	 Sreeram is the co-founder & CTO at Stayhappi. He is a fascinating person who lives coding daily. He is responsible for the entire platform and its functionalities He has a great history of coding, when his counterparts were learning C, he was figuring out the server functionalities of Ruby in 12th Grade – that is the level of his expertise. Sreeram strongly believes that anyone with an entrepreneurial dream is already an entrepreneur. <br>
     
    </p>
  </body>
</html>