<% provide(:title, 'Contact Us') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Contact Us | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Contact Us</h1>
    <p> Old No. 41, New No. 178, <br>
		Telugu Brahmin Street <br>
		Coimbatore, Tamil Nadu <br>
		641001 <br>
		Mail us @ : contact@stayhappi.com <br>
		Ph : +91 422 2346860 <br>
    </p>
  </body>
</html>