<% provide(:title, 'Policies') %>
<!DOCTYPE html>
<html>
  <head>
    <title>Policies | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>Policies</h1>
    <p>
	 Cancellations & Refunds<br>
	 	•	Cancellation Policy<br>
	 Stayhappi allows hosts to choose among three standardized cancellation policies (Flexible, Moderate, and Strict) that we will enforce to protect both guest and host alike.<br>

	 Flexible: Full refund 1 day prior to arrival, except fees<br>
	 	•	Cleaning fees are always refunded if the guest did not check in.<br>
	 	•	The Stayhapi service fee is non-refundable.<br>
	 	•	If there is a complaint from either party, notice must be given to Stayhappi within 24 hours of check-in.<br>
	 	•	Stayhappi will mediate when necessary, and has the final say in all disputes.<br>
	 	•	A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page.<br>
	 	•	Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br>
	 	•	For a full refund, cancellation must be made a full 24 hours prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by Thursday of that week before check in time.<br>
	 	•	If the guest cancels less than 24 hours before check-in, the first night is non-refundable.<br>
	 	•	If the guest arrives and decides to leave early, the nights not spent 24 hours after the official cancellation are 100% refunded.<br>
	 Moderate: Full refund 5 days prior to arrival, except fees
	 	•	Cleaning fees are always refunded if the guest did not check in.<br>
	 	•	The Stayhappi service fee is non-refundable.<br>
	 	•	If there is a complaint from either party, notice must be given to Stayhappi within 24 hours of check-in.<br>
	 	•	Stayhappi will mediate when necessary, and has the final say in all disputes.<br>
	 	•	A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page.<br>
	 	•	Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br>
	  
	 	•	For a full refund, cancellation must be made five full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in. For example, if check-in is on Friday, cancel by the previous Sunday before check in time.<br>
	 	•	If the guest cancels less than 5 days in advance, the first night is non-refundable but the remaining nights will be 50% refunded.<br>
	 	•	If the guest arrives and decides to leave early, the nights not spent 24 hours after the cancellation occurs are 50% refunded.<br>

	 Strict: 50% refund up until 1 week prior to arrival, except fees<br>
	 	•	Cleaning fees are always refunded if the guest did not check in.<br>
	 	•	The Stayhappi service fee is non-refundable.<br>
	 	•	If there is a complaint from either party, notice must be given to Stayhappi within 24 hours of check-in.<br>
	 	•	Stayhappi will mediate when necessary, and has the final say in all disputes.<br>
	 	•	A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page.<br>
	 	•	Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br>

	 	•	For a 50% refund, cancellation must be made seven full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in, otherwise no refund. For example, if check-in is on Friday, cancel by Friday of the previous week before check in time.<br>
	 	•	If the guest cancels less than 7 days in advance, the nights not spent are not refunded.<br>
	 	•	If the guest arrives and decides to leave early, the nights not spent are not refunded.<br>
	 Super Strict: 50% refund up until 30 days prior to arrival, except fees<br>
	 	•	Note: The Super Strict cancellation policy applies to special circumstances and is by invitation only.<br>
	 	•	Cleaning fees are always refunded if the guest did not check in.<br>
	 	•	The Stayhappi service fee is non-refundable.<br>
	 	•	If there is a complaint from either party, notice must be given to Stayhappi within 24 hours of check-in.<br>
	 	•	Stayhappi will mediate when necessary, and has the final say in all disputes.<br>
	 	•	A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page.<br>
	 	•	Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br>
	  
	 	•	For a 50% refund, cancellation must be made 30 full days prior to listing's local check in time (or 3:00 PM if not specified) on the day of check in.<br>
	 	•	If the guest cancels less than 30 days in advance, the nights not spent are not refunded.<br>
	 	•	If guest arrives and decides to leave early, the nights not spent are not refunded.<br>

	 Long Term: First month down payment, 30 day notice for lease termination<br>
	 	•	Note: The Long Term cancellation policy applies to all reservations of 28 nights or more.<br>
	 	•	Cleaning fees are always refunded if the guest did not check in.<br>
	 	•	The Stayhappi service fee is non-refundable.<br>
	 	•	If there is a complaint from either party, notice must be given to Stayhappi within 24 hours of check-in.<br>
	 	•	Stayhappi will mediate when necessary, and has the final say in all disputes.<br>
	 	•	A reservation is officially canceled when the guest clicks the cancellation button on the cancellation confirmation page.<br>
	 	•	Cancellation policies may be superseded by the Guest Refund Policy, safety cancellations, or extenuating circumstances. Please review these exceptions.<br>
	  
	 	•	If the guest books a long term stay and decides to cancel the long term agreement before the start date, the first payment is paid to the host in full.<br>
	 	•	If the guest books a long term stay and decides to cancel the long term agreement during their stay, the guest must use the online alteration tool in order to agree to a new checkout date. Regardless of the checkout date chosen, the guest is required to pay the host for the 30 days following the cancellation date, or up to the end date of the guest's original reservation if the remaining days of the original reservation is less than 30 days.<br>
		
		Extenuating Circumstances<br>
		Sometimes extenuating circumstances arise that affect travel plans. In extreme cases, Stayhappi may override the host's cancellation policy (flexible, moderate, strict) and make refund decisions. Such cases will be contingent on proper documentation, where valid, and include:<br>
			•	Death in the guest's family<br>
			•	Serious illness of the guest or a guest's family member<br>
			•	Natural disaster in the destination<br>
			•	Political unrest in the destination<br>
			•	Jury duty or other similar civil obligations<br>

		
			•	Host Guarantee<br>

			•	Guest Refund Policy<br>
		Accommodations on the Stayhappi platform should meet minimum quality standards regarding safety, access, and cleanliness, and they should be consistent with the description provided by the Host. If a Guest who books and pays for an accommodation suffers a 'Travel Issue' because the Accommodation does not meet Stayhappi standards, the guest may be eligible for a refund in accordance with the Guest Refund Policy.<br>
		Stayhappi will (at our discretion) either provide the Guest with a refund or use reasonable efforts to find and book the Guest at another comparable Accommodation for any unused nights left in your reservation. The amount of any refund will depend on the nature of the Travel Issue suffered.<br>
		
		A valid 'Travel Issue' generally falls into three categories, (1) the host cancels a reservation 24 hours or less before the scheduled start of the reservation, or fails to provide the Guest with the reasonable ability to access the Accommodation, (2) the description of the Accommodation in the listing on the Site is materially different from the actual Accommodation (such as the Accommodation’s size, special amenities or location), or (3) the Accommodation is not generally clean or as described.<br>
		
		To submit a valid claim for a refund, a Guest is required (a) to bring the Travel Issue to our attention within 24 hours after the start of your reservation (including photographs or other evidence) and respond to our requests for information or cooperation, (b) not have directly or indirectly caused the Travel Issue and (c) to have used reasonable efforts to try to remedy the circumstances of the Travel Issue with the Host prior to making a claim for a Travel Issue.
		
     
    </p>
  </body>
</html>